.full-new {
  text-align: center;
}
.swiper {
  padding: 0 !important;
}
.full-new-img-container {
  margin: 0 auto;
  width: 90%;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2%;
  row-gap: 30px;
  display: flex;
}
.full-new-img {
  width: 49%;
}
.full-new-img-container img {
  width: 100%;
}
